{% load static %}
{% load contact_form %}
<footer class="ht-footer">
    <div class="container">
        <div class="flex-parent-ft">
            <div class="flex-child-ft item1">
                <a href="index.html"><img class="logo" src="{% static 'images/logo1.png' %}" alt="Логотип сайта"></a>
                <p>5th Avenue st, manhattan<br>
                    New York, NY 10001</p>
                <p>Call us: <a href="tel:+77773416790">+7(777)-341-67-90</a></p>
            </div>
            <div class="flex-child-ft item2">
                <h4>Мои соцсети</h4>
                <ul>
                    <li><a href="https://www.instagram.com/kabdulov_28/" target="_blank">Instagram</a></li>
                    <li><a href="mailto:kabdulov1728@gmail.com" target="_blank">E-mail</a></li>
                </ul>
            </div>
            <div class="flex-child-ft item3">
                <h4>Киносайты</h4>
                <ul>
                    <li><a href="https://www.kinopoisk.ru/" target="_blank">Kinopoisk.ru</a></li>
                    <li><a href="https://www.afisha.ru/" target="_blank">Afisha.ru</a></li>
                    <li><a href="https://www.kinonews.ru/" target="_blank">Kinonews.ru</a></li>
                </ul>
            </div>
            <div class="flex-child-ft item4">
                <h4>Другие работы</h4>
                <ul>
                    <li><a href="https://github.com/Zhalgas28/" target="_blank">GitHub</a></li>
                </ul>
            </div>
            {#  Contact Form  #}
            {% contact_form %}
        </div>
    </div>
    <div class="ft-copyright">
        <div class="ft-left">
            <p>© 2022 Blockbuster | Киносайт</p>
        </div>
        <div class="backtotop">
            <p><a href="#" id="back-to-top">Back to top <i class="ion-ios-arrow-thin-up"></i></a></p>
        </div>
    </div>
</footer>