{% load static %}
<header class="ht-header">
    <div class="container">
        <nav class="navbar navbar-default navbar-custom">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header logo">
                <div class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <div id="nav-icon1">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <a href="{% url 'home' %}"><img class="logo" src="{% static 'images/logo1.png' %}" alt="" width="119"
                                                height="58"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav flex-child-menu menu-left">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="dropdown first">
                        <a class="btn btn-default dropdown-toggle lv1" href="{% url 'home' %}">
                            Главная
                        </a>
                    </li>
                    <li class="dropdown first">
                        <a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
                            Фильмы<i class="fa fa-angle-down" aria-hidden="true"></i>
                        </a>
                        <ul class="dropdown-menu level1">
                            <li><a href="{% url 'movies' %}">Список фильмов</a></li>
                            <li><a href="{% url 'allmovies' %}">Все фильмы</a></li>
                        </ul>
                    </li>
                    <li class="dropdown first">
                        <a class="btn btn-default dropdown-toggle lv1" href="{% url 'celebritylist' %}">
                            Знаменитости
                        </a>
                    </li>
                </ul>
                {% if request.user.is_authenticated %}
                    <ul class="nav navbar-nav">
                        <li style="color: #abb7c4; margin-right: 15px">Добро пожаловать! {{ user.username }}</li>
                        <li class="btn"><a href="{% url 'logout' %}">Выйти</a></li>
                    </ul>
                {% else %}
                    <ul class="nav navbar-nav"> {# flex-child-menu menu-right#}
                        <li><a href="{% url 'login' %}">Вход</a></li>
                        <li class="btn"><a href="{% url 'register' %}">Регистрация</a></li>
                    </ul>
                {% endif %}

            </div>
        </nav>
    </div>
</header>