{% extends 'base.html' %}

{% block title %}Все фильмы | Киносайт{% endblock %}

{% block content %}
    <div class="hero common-hero">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="hero-ct">
                        <h1>Все фильмы</h1>
                        <ul class="breadcumb">
                            <li class="active"><a href="{% url 'home' %}">Главная</a></li>
                            <li><span class="ion-ios-arrow-right"></span>Все фильмы</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-single">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="topbar-filter fw">
                        <p>Найдено <span>{{ count }} фильмов</span></p>
                        <label>Сортировка по:</label>
                        <select name="sort">
                            <option value="popularity">Популярности</option>
                            <option value="rating">Рейтингу</option>
                            <option value="date">Дате выхода</option>
                        </select>
                    </div>
                    <div class="flex-wrap-movielist mv-grid-fw">
                        {% for movie in movies %}
                            <div class="movie-item-style-2 movie-item-style-1">
                                <img src="{{ movie.photo.url }}" alt="">
                                <div class="hvr-inner">
                                    <a href="{{ movie.get_absolute_url }}"> Read more <i
                                            class="ion-android-arrow-dropright"></i>
                                    </a>
                                </div>
                                <div class="mv-item-infor">
                                    <h6><a href="{{ movie.get_absolute_url }}">{{ movie.name }}</a></h6>
                                    <p class="rate"><i class="ion-android-star"></i><span>8.1</span> /10</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    {% if page_obj.has_other_pages %}
                        <div class="topbar-filter">
                            <div class="pagination2">
                                <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}:</span>
                                {% for p in page_obj.paginator.page_range %}
                                    {% if page_obj.number == p %}
                                        <a class="active">{{ p }}</a>
                                    {% else %}
                                        <a href="?page={{ p }}">{{ p }}</a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}