{% extends 'base.html' %}

{% block title %}{{ celebrity.name }} | Киносайт{% endblock %}

{% block content %}
    <div class="hero hero3">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- <h1> movie listing - list</h1>
                    <ul class="breadcumb">
                        <li class="active"><a href="#">Home</a></li>
                        <li> <span class="ion-ios-arrow-right"></span> movie listing</li>
                    </ul> -->
                </div>
            </div>
        </div>
    </div>
    <!-- celebrity single section-->

    <div class="page-single movie-single cebleb-single">
        <div class="container">
            <div class="row ipad-width">
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="mv-ceb">
                        <img src="{{ celebrity.photo.url }}" alt="" style="height: 490px">
                    </div>
                </div>
                <div class="col-md-8 col-sm-12 col-xs-12">
                    <div class="movie-single-ct">
                        <h1 class="bd-hd">{{ celebrity.name }}</h1>
                        <p class="ceb-single">{{ celebrity.profession }}</p>
                        <div class="movie-tabs">
                            <div class="tabs">
                                <ul class="tab-links tabs-mv">
                                    <li class="active"><a href="#overviewceb">Инфо</a></li>
                                    <li><a href="#biography"> Биография</a></li>
                                    <li><a href="#mediaceb"> Медиа</a></li>
                                    <li><a href="#filmography">Его фильмы</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div id="overviewceb" class="tab active">
                                        <div class="row">
                                            <div class="col-md-8 col-sm-12 col-xs-12">
                                                <p>{{ celebrity.description }}</p>
                                                <p class="time"></p>
                                                {% if celebrity.media %}
                                                    <div class="title-hd-sm">
                                                        <h4>Фотки</h4>
                                                    </div>
                                                    <div class="mvsingle-item ov-item">
                                                        {% for media in celebrity.media.all %}
                                                            <a class="img-lightbox" data-fancybox-group="gallery"
                                                               href="{{ media.photo.url }}"><img
                                                                    src="{{ media.photo.url }}" alt=""></a>
                                                        {% endfor %}
                                                    </div>
                                                {% endif %}
                                                {% if celebrity.filmography %}
                                                    <div class="title-hd-sm">
                                                        <h4>Его фильмы</h4>

                                                    </div>
                                                    <!-- movie cast -->
                                                    {% for film in celebrity.filmography.all %}
                                                        <div class="mvcast-item">
                                                            <div class="cast-it">
                                                                <div class="cast-left cebleb-film">
                                                                    <img src="{{ film.photo.url }}" alt=""
                                                                         style="width: 75px">
                                                                    <div>
                                                                        <a href="{{ film.get_absolute_url }}">{{ film.name }}</a>
                                                                    </div>

                                                                </div>
                                                                <p>{{ film.year }}</p>
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                            <div class="col-md-4 col-xs-12 col-sm-12">
                                                <div class="sb-it">
                                                    <h6>Имя: </h6>
                                                    <p><a href="#">{{ celebrity.name }}</a></p>
                                                </div>
                                                <div class="sb-it">
                                                    <h6>Дата рождения: </h6>
                                                    <p>{{ celebrity.date_of_birth }}</p>
                                                </div>
                                                <div class="sb-it">
                                                    <h6>Страна: </h6>
                                                    <p>{{ celebrity.country }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="biography" class="tab">
                                        <div class="row">
                                            <div class="rv-hd">
                                                <div>
                                                    <h3>Биография</h3>
                                                    <h2>{{ celebrity.name }}</h2>
                                                </div>
                                            </div>
                                            <p>{{ celebrity.biography }}</p>
                                        </div>
                                    </div>
                                    <div id="mediaceb" class="tab">
                                        <div class="row">
                                            <div class="mvsingle-item">
                                                {% for media in celebrity.media.all %}
                                                    <a class="img-lightbox" data-fancybox-group="gallery"
                                                       href="{{ media.photo.url }}"><img
                                                            src="{{ media.photo.url }}" alt=""></a>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    <div id="filmography" class="tab">
                                        <div class="row">
                                            <!-- movie cast -->
                                            <div class="mvcast-item">
                                                {% for film in celebrity.filmography.all %}
                                                    <div class="cast-it">
                                                        <div class="cast-left cebleb-film">
                                                            <img src="{{ film.photo.url }}" alt="" style="width: 85px">
                                                            <div>
                                                                <a href="{{ film.get_absolute_url }}">{{ film.name }}</a>
                                                            </div>

                                                        </div>
                                                        <p>{{ film.year }}</p>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}