{% extends 'base.html' %}

{% load popular_movies_main %}
{% load last_movies %}
{% block content %}
    <div class="slider movie-items">
        <div class="container">
            <div class="row">

                <div class="slick-multiItemSlider">
                    {% for movie in movies %}
                        <div class="movie-item">
                            <div class="mv-img">
                                <a href="{{ movie.photo.url }}"><img src="{{ movie.photo.url }}" alt="" width="285" height="437"></a>
                            </div>
                            <div class="title-in">
                                <h6><a href="{{ movie.get_absolute_url }}">{{ movie.name }}</a></h6>
                                <p><i class="ion-android-star"></i><span>7.4</span> /10</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="movie-items">
        <div class="container">
            <div class="row ipad-width">
                <div class="col-md-8">
                    {% get_popular_movies_main %}
                    {% get_last_movies %}
                </div>
                <div class="col-md-4">
                    <div class="sidebar">
                        <div class="celebrities">
                            <h4 class="sb-title">Знаменитости</h4>
                            {% for celebrity in celebrities %}
                                <div class="celeb-item">
                                    <a href="{{ celebrity.photo.url }}"><img src="{{ celebrity.photo.url }}" alt="" width="70" height="70"></a>
                                    <div class="celeb-author">
                                        <h6><a href="{{ celebrity.get_absolute_url }}">{{ celebrity.name }}</a></h6>
                                        <span>{{ celebrity.profession }}</span>
                                    </div>
                                </div>
                            {% endfor %}
                            <a href="{% url 'celebritylist' %}" class="btn">Все знаменитости<i class="ion-ios-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}