{% load calc_avg_rating %}
<div class="title-hd">
    <h2>Недавно добавленные</h2>
    <a href="{% url 'movies' %}" class="viewall">Все фильмы <i class="ion-ios-arrow-right"></i></a>
</div>
<div class="tabs">
    <div class="tab-content">
        <div id="tab1" class="tab active">
            <div class="row">
                <div class="slick-multiItem">
                    {% for last_created_movie in last_created_movies %}
                        <div class="slide-it">
                            <div class="movie-item">
                                <div class="mv-img">
                                    <img src="{{ last_created_movie.photo.url }}" alt="" width="185"
                                         height="284">
                                </div>
                                <div class="hvr-inner">
                                    <a href="{{ last_created_movie.get_absolute_url }}"> Read more <i
                                            class="ion-android-arrow-dropright"></i> </a>
                                </div>
                                <div class="title-in">
                                    <h6><a href="{{ last_created_movie.get_absolute_url }}">{{ last_created_movie.name }}</a></h6>
                                    <p><i class="ion-android-star"></i><span>{% calc_avg_rating last_created_movie.id %}</span> / 5</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>