{% extends 'base.html' %}

{% block title %}Регистрация | Киносайт{% endblock %}

{% block content %}
    <div class="hero common-hero">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="hero-ct">
                        <h1> Регистрация</h1>
                        <ul class="breadcumb">
                            <li class="active"><a href="{% url 'home' %}">Главная</a></li>
                            <li><span class="ion-ios-arrow-right"></span> Регистрация</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="login-box">
        <div class="left">
            <h1>Регистрация</h1>
            <form method="post" action=".">
                {% csrf_token %}
                <input type="text" name="username" placeholder="Username"/>
                <input type="text" name="email" placeholder="E-mail"/>
                <input type="password" name="password" placeholder="Password"/>
                <input type="password" name="password2" placeholder="Retype password"/>
                <input type="submit" name="signup_submit" value="Sign me up"/>
            </form>
        </div>

        <div class="right">
            <span class="loginwith">Sign in with<br/>social network</span>

            <a><button class="social-signin facebook">Log in with facebook</button></a>
            <a href="/auth/login/vk-oauth2"><button class="social-signin twitter">Log in with VK</button></a>
            <a><button class="social-signin google">Log in with Google+</button></a>
        </div>
        <div class="or">OR</div>
    </div>

    <div class="errors">
        <ul>
            <li class="error">{{ form.username.errors }}</li>
            <li class="error">{{ form.email.errors }}</li>
            <li class="error">{{ form.password.errors }}</li>
            <li class="error">{{ form.password.errors }}</li>
        </ul>
    </div>

{% endblock %}





